body{
    margin: 0;
}
.header{
    position:relative;
    font-family:'Clear Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-color:rgb(60, 90, 154);
    padding:10px 30px 10px 30px;
    color: white;
    font-weight: bold;
    
}
.headercontainer{
    position:absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    top:0px;
}
.container{
    position:absolute;
    text-align: center;
    top:0px;
    bottom:0px;
    left:5%;
    right:5%;
    font-weight:normal;
}
.containerbody{
    position: fixed;
    margin:0px auto;
    margin-top:10px;
    left:50%;
    transform:translateX(-50%);
}
.box{
    position:relative;
    background-color: white;
    text-align:left;
    margin:5px;
    align-self: center;
}
.boxquestion{
    position: relative;
}
.boxheader{
    text-align:center;
}
.boxquestionstars{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    border-left: 5px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;    
    border-color:rgb(176, 235, 174); 
    font-family:'Fira Mono',monospace;
    font-size:small;
    margin-top:5px;
    margin-bottom:5px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
}
.boxquestionanswer{
    margin-top:5px;
    margin-bottom:5px;
    padding-top:5px;
    padding-bottom:5px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    border-left: 5px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;    
    border-color:rgb(180, 200, 231); 
    font-family:'Clear Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left:5px;
}