.header{
    position:relative;
    font-family:'Clear Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5em;
    background-color:crimson;
    text-align: center;
}
#container{
    position:fixed;
    margin-top:100px auto;
    margin-bottom:100px auto;
    margin: left 100px;px auto;
    margin-right:100px auto;
    background-color: rgb(198, 236, 198);
    text-align:center;
    bottom:0px;
    top:0px;
    left:0px;
    right:0px;
}